.container {
		margin: 10% 15% 10% 15%;
}

.container h3 {
		text-align: center;
}

.container div {
		margin: 16px 0 16px 0;
}

.circle {
		height: 80px;
		width: 80px;
		border-radius: 50%;
		background: hotpink;
}

.oval {
		height: 120px;
		width: 80px;
		border-radius: 50%;
		background: hotpink;
}

.triangles {
		background: #c4c4c4;
}

.triangles div {
		display: inline-block;
		margin: 16px;
}

.triangles #t-up {
		height: 0;
		width: 0;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-bottom: 100px solid hotpink;
}

.triangles #t-down {
		height: 0;
		width: 0;
		border-left: 40px solid transparent;
		border-right: 40px solid transparent;
		border-top: 100px solid hotpink;
}

.triangles #t-right {
		height: 0;
		width: 0;
		border-left: 100px solid hotpink;
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
}

.triangles #t-left {
		height: 0;
		width: 0;
		border-right: 100px solid hotpink;
		border-top: 40px solid transparent;
		border-bottom: 40px solid transparent;
}

.triangles #t-topright {
		height: 0;
		width: 0;
		border-left: 100px solid transparent;
		border-top: 100px solid hotpink;
}

.triangles #t-bottomright {
		height: 0;
		width: 0;
		border-left: 100px solid transparent;
		border-bottom: 100px solid hotpink;
}

.howto-triangle {
		background: #c4c4c4;
}

.howto-triangle div {
		display: inline-block;
		margin: 16px;
}

.all-borders {
		height: 40px;
		width: 40px;
		border-top: 20px red solid;
		border-right: 20px pink solid;
		border-bottom: 20px green solid;
		border-left: 20px orange solid;
		background: hotpink;
}

.no-top-border {
		height: 40px;
		width: 40px;
		border-right: 20px pink solid;
		border-bottom: 20px green solid;
		border-left: 20px orange solid;
		background: hotpink;
}

.no-top-width {
		height: 40px;
		width: 0;
		border-right: 20px pink solid;
		border-bottom: 20px green solid;
		border-left: 20px orange solid;
}

.no-top-height {
		height: 0;
		width: 0;
		border-right: 20px pink solid;
		border-bottom: 20px green solid;
		border-left: 20px orange solid;
}

.no-top-transparent {
		height: 0;
		width: 0;
		border-right: 20px transparent solid;
		border-bottom: 20px green solid;
		border-left: 20px transparent solid;
}

.square {
		height: 80px;
		width: 80px;
		background: hotpink;
}

.rectangle {
		height: 60px;
		width: 120px;
		background: hotpink;
}
